# IDE settings.
.vscode/
.github/

# Slurm outputs.
slurm-*.out

# Outputs from simulations.
data/

# Figures.
scripts/**/figures

# Python stuff.
__pycache__

# My (or your) personal notes.
NOTES.md
